{% extends 'base.html.twig' %}

{% block content %}

<h1 style="text-align:center;">Panier</h1>

<div class="aliens_container">
    {% for alien in listAlien %}
        <div class="div_enfant">
            <img src="{{ asset('img/alien.jpg') }}" width="250" height="150" />
            {% if alien is not null %}
                <a href="{{ path('rmv_alien', {'id': alien.id}) }}"><h2>X</h2></a>
            {% endif %}
        </div>
    {% endfor %}
</div>


{% endblock %}