<header class="header">
    <a href="{{ path('home')  }}"><img src="{{asset('img/logo.png')}}" alt="logo" class="logo"/></a>
    <nav>
        <ul>
            {% if app.session.get('log') == true %}
                <li><a href="{{ path('alien_list') }}">Catalogue</a></li>
                <li><a href="{{ path('cart') }}">Panier</a></li>
            {% endif %}
            <li>
                {% if app.session.get('log') == true %}
                    <a href="{{ path('logout_process') }}">
                       Se déconnecter
                    </a>
                    {% else %}
                    <a href="{{ path('login') }}">
                        Se connecter
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>