{% extends 'base.html.twig' %}

{% block content %}
<main class="loginContainer">
    <div class="formContainer">
        <div class="shape"></div>
        <div class="shape"></div>
        <form method="POST" action="{{ path('login_process') }}">
            <h3>Formulaire de connection</h3>

            <label for="email">Email</label>
            <input type="text" placeholder="martin.dupont@gmail.com" id="email" name="email" required>

            <label for="password">Mot de passe</label>
            <input type="password" placeholder="123456" id="password" name="password">

            <button type"submit">Se connecter</button>
        </form>
    <div>
</main>

{% endblock %}