/* CONTAINER */

.alienContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;
  align-items: center;
}

.alienContainer h1 {
  color: var(--color-text);
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

/* GRID */
.alienContainer .gridAliensContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12vw, 1fr));
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
  padding: 0 1rem;
}

/* CARD */
.gridAliensContainer .card {
  width: 100%;
  height: 45dvh;
  border-radius: 0.625rem;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #f0f0f0;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.gridAliensContainer .card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.gridAliensContainer .card h2 {
  position: absolute;
  inset: auto auto 1.8rem 1.8rem;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  text-transform: uppercase;
}
.gridAliensContainer .card p,
.gridAliensContainer .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.gridAliensContainer .card p {
  inset: auto auto 5rem 1.8rem;
}
.gridAliensContainer .card a {
  inset: auto auto 2.5rem 1.8rem;
  color: inherit;
  text-decoration: none;
}

.gridAliensContainer .card a::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0%;
  height: 0.1rem;
  background-color: currentColor;
  transition: width 0.3s ease-out;
}

.gridAliensContainer .card a:hover::before {
  width: 100%;
}

.gridAliensContainer .card:hover h2 {
  inset: auto auto 13.75rem 1.8rem;
  transition: inset 0.3s ease-out;
}
.gridAliensContainer .card:hover p,
.gridAliensContainer .card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.gridAliensContainer .card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}
