/* HOME */

.homeContainer .alien {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home .overview {
  background: linear-gradient(
    180deg,
    var(--secondary) 65%,
    var(--contrast) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  border-radius: 50%;
  width: 35vw;
  height: 35vw;
}

.home .overview h1 {
  font-size: 5vw;
  text-wrap: nowrap;
  font-weight: 700;
  margin-top: 1rem;
}
