:root {
  --widthShape: 10vw;
  --heightShape: 10vw;
}

.loginContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer .formContainer {
  width: 25vw;
  height: 60dvh;
  position: relative;
}

.formContainer .shape {
  height: var(--heightShape);
  width: var(--widthShape);
  position: absolute;
  border-radius: 50%;
}

.formContainer .shape:first-child {
  background: linear-gradient(to right, var(--secondary), var(--contrast));
  left: calc(var(--widthShape) / -2 + 1.2rem);
  top: calc(var(--heightShape) / -2);
  animation: moveShape1 4s infinite;
}

.formContainer .shape:nth-child(2) {
  background: linear-gradient(to right, var(--secondary), var(--primary));
  right: calc(var(--widthShape) / -2);
  bottom: calc(var(--heightShape) / -2 + 1.2rem);
  animation: moveShape2 4s infinite 0.5s;
}

.formContainer form {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 0.625rem;
  backdrop-filter: blur(0.625rem);
  border: 0.125rem solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2.5rem rgba(8, 7, 16, 0.6);
  padding: 4rem 2.2rem;
  z-index: 5;
  overflow: auto;
}

.formContainer form * {
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.formContainer form h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-text);
}

.formContainer label {
  display: block;
  margin-top: 1.875rem;
  font-weight: 500;
}

.formContainer input {
  display: block;
  height: 3.125rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 0.254rem;
  padding: 0 0.625rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
}
::placeholder {
  color: var(--color-text);
}
.formContainer button {
  margin-top: 50px;
  width: 100%;
  background-color: white;
  color: #080710;
  padding: 15px 0;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* Animation pour bouger les shape afin qu'elle bouge un peu, un mouvement circulaire */

@keyframes moveShape1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2rem, 1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveShape2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2rem, -1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
