/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  background-color: var(--primary);
}

.header .logo {
  width: 3rem;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.header nav ul li {
  position: relative;
}

.header nav ul li a {
  color: var(--color-text);
}

.header nav ul li::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-text);
  transition: width 0.3s ease-in-out;
}

.header nav ul li:hover::before {
  width: 100%;
}
