@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* VARIABLE */
:root {
  --primary: #417b5a;
  --secondary: #1b2735;
  --tertary: #000022;
  --contrast: #ed254e;
  --color-text: #fffdf7;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background: radial-gradient(
    ellipse at bottom,
    var(--secondary) 0%,
    var(--tertary) 100%
  );
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
