.homeContainer {
  flex: 1;
  overflow: hidden;
  position: relative;
}

/* The CSS code `#star, #star2, #star3` is selecting three elements with the IDs `star`, `star2`, and `star3`. The
following CSS properties are then applied to these elements: */
#star,
#star2,
#star3 {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
