{% extends 'base.html.twig' %}

{% block content %}

{# SOURCE : https://codepen.io/jepooley/pen/NWYryap #}

<main class="alienContainer">
    <h1>Catalogue</h1>
    <div class="gridAliensContainer">
        {% for alien in aliens %}
            <div class = "card">
                <img src="https://source.unsplash.com/random/?extraterrestrial&sig={{ alien.id  }}" alt="image de l'alien">
                <div class="card-content">
                <h2>
                    {{ alien.nom }}
                </h2>
                <p>
                    {{ alien.description }}
                </p>
                <a href="{{ path('add_alien', {'id': alien.id}) }}" class="button">
                    Commander
                    <span class="material-symbols-outlined">
                    +
                    </span>
                </a>
                </div>
            </div>
        {% endfor %}
    </div>
</main>

{% endblock %}