{% extends 'base.html.twig' %}

{% block content %}
    <!-- Le contenu de la page d'accueil -->
    <main class="homeContainer">
    <!-- Background star -->
        <canvas id="star"></canvas>
        <canvas id="star2"></canvas>
         <canvas id="star3"></canvas>
        <section class="home">
            <div class="overview">
                <h1>Adopte un extraterrestre</h1>
                {# <p>Vous avez toujours rêvé d'adopter un extraterrestre ?</p> #}
            </div>
        </section>
        <img src="{{asset('img/homeAlien.png')}}" class="alien" alt="alien" />
    </main>

 <!-- JavaScript for star background  -->
    {% block javascripts %}
        <script src="https://unpkg.com/starback@2.1.1/dist/starback.global.js"></script>
        <script src="{{asset('js/starBackground.js')}}"></script>
    {% endblock %}

{% endblock %}
