<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SpaceFamily - Crazy dev{% endblock %}</title>
    <link rel="shortcut icon"  href="{{ asset('img/logo.png') }}">

    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/star.css') }}">
    <link rel="stylesheet" href="{{ asset('css/alien.css') }}">
    <link rel="stylesheet" href="{{ asset('css/aliens.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body>
    {% include 'layouts/header/index.html.twig' %} {# Inclure le composant d'en-tête #}

    {% block content %}{% endblock %}
</body>
</html>